#centerContent {
	margin-left: auto;
	margin-right: auto;
}

#leftContent {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#rightContent {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}